<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Definition of <%= word.charAt(0).toUpperCase() + word.slice(1) %> | What
      Does <%= word.charAt(0).toUpperCase() + word.slice(1) %> Mean?
    </title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="bg-primary text-white text-center py-3 mb-4">
      <p class="h2 mb-0">Dictionaryyy</p>
      <nav>
        <ul class="nav justify-content-center py-2 mb-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/glossary">Glossary</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <div class="bg-white shadow rounded p-3 mb-4">
        <h2 class="text-center text-muted">Search for a Definition</h2>
        <form method="POST" action="/">
          <div class="input-group mb-3">
            <input
              type="text"
              name="word"
              class="form-control"
              placeholder="Enter Word"
            />
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>
      </div>
      <div class="bg-white shadow rounded p-3">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="text-primary">
              <%= word.charAt(0).toUpperCase() + word.slice(1) %>
            </h1>
            <% if (meanings) { %> <% if (meanings.length > 0) { %> <%
            meanings.forEach(function(meaning) { %>
            <div class="card my-3">
              <div class="card-header">
                <h2 class="text-secondary"><%= meaning.partOfSpeech %></h2>
              </div>
              <div class="card-body">
                <% if (meaning.definitions && meaning.definitions.length > 0) {
                %> <% meaning.definitions.forEach(function(def) { %>
                <li class="card-text"><%= def.definition %></li>
                <% }); %> <% } else { %>
                <p>No definitions found.</p>
                <% } %>
              </div>
            </div>
            <% }); %> <% } else { %>
            <p>No meanings found for the word.</p>
            <% } %> <% } else { %>
            <p>Word not found in the dictionary.</p>
            <% } %>
          </div>
          <div class="col-lg-3">
            <h2 class="text-primary">Recent Searches</h2>
            <ul class="list-group mb-3">
              <% recentSearches.forEach(function(search) { %>
              <li class="list-group-item">
                <a href="/term/<%= search %>">
                  <%= search.charAt(0).toUpperCase() + search.slice(1) %>
                </a>
              </li>
              <% }); %>
            </ul>
            <h2 class="text-primary">Synonyms</h2>
            <ul class="list-group mb-3">
              <% if (thesaurusData && thesaurusData[0] && thesaurusData[0].meta
              && thesaurusData[0].meta.syns && thesaurusData[0].meta.syns[0]) {
              %> <% thesaurusData[0].meta.syns[0].forEach(synonym => { %>
              <li class="list-group-item"><%= synonym %></li>
              <% }) %> <% } else { %>
              <p>No Synonyms found for the word</p>
              <% } %>
            </ul>
            <h2 class="text-primary">Antonyms</h2>
            <ul class="list-group">
              <% if (thesaurusData && thesaurusData[0] && thesaurusData[0].meta
              && thesaurusData[0].meta.ants && thesaurusData[0].meta.ants[0]) {
              %> <% thesaurusData[0].meta.ants[0].forEach(antonym => { %>
              <li class="list-group-item"><%= antonym %></li>
              <% }) %> <% } else { %>
              <p>No Antonyms found for the word</p>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
