<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Definition of <%= word.charAt(0).toUpperCase() + word.slice(1) %> | What
      Does <%= word.charAt(0).toUpperCase() + word.slice(1) %> Mean?
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .btn-primary {
        background-color: #007bff;
      }

      .btn-primary:hover {
        background-color: #0069d9;
      }
    </style>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="bg-primary text-white text-center py-3 mb-4">
      <h1 class="h2 mb-0">Dictionaryyy</h1>
      <nav>
        <ul class="nav justify-content-center py-2 mb-0">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/glossary">Glossary</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <div class="bg-white shadow rounded p-3 mb-4">
        <h2 class="text-center text-muted">Search for a Definition</h2>
        <form method="POST" action="/">
          <div class="input-group mb-3">
            <input
              type="text"
              name="word"
              class="form-control"
              placeholder="Enter Word"
              aria-label="Enter Word"
            />
            <button class="btn btn-primary" type="submit">Search</button>
          </div>
        </form>
      </div>
      <div class="bg-white shadow rounded p-3">
        <div class="row">
          <div class="col-lg-9">
            <h1 class="text-primary">
              <%= word.charAt(0).toUpperCase() + word.slice(1) %>
            </h1>
            <% if (meanings && meanings.length > 0) { %> <%
            meanings.forEach(function(meaning) { %>
            <div class="card my-3">
              <div class="card-header">
                <h2 class="text-secondary"><%= meaning.partOfSpeech %></h2>
              </div>
              <div class="card-body">
                <% if (meaning.definitions && meaning.definitions.length > 0) {
                %> <% meaning.definitions.forEach(function(def) { %>
                <li class="card-text"><%= def.definition %></li>
                <!-- Add the following lines to display the scores -->
                <p>Scrabble Score: <%= scrabbleScore %></p>
                <p>Boggle Score: <%= boggleScore %></p>
                <% }); %> <% } else { %>
                <p>No definitions found.</p>
                <% } %>
              </div>
            </div>
            <% }); %> <% } else { %>
            <p>
              No meanings found for the word <%= word %> or an error occurred
              while fetching the data.
            </p>
            <% } %>
          </div>
          <div class="col-lg-3">
            <h2 class="text-primary">Recent Searches</h2>
            <ul class="list-group mb-3">
              <% recentSearches.forEach(function(search) { %>
              <li class="list-group-item">
                <a href="/term/<%= search %>">
                  <%= search.charAt(0).toUpperCase() + search.slice(1) %>
                </a>
              </li>
              <% }); %>
            </ul>

            <h2 class="text-primary">Synonyms</h2>
            <ul class="list-group mb-3">
              <% if (thesaurusData && thesaurusData[0].meta.syns &&
              thesaurusData[0].meta.syns[0].length > 0) { %> <%
              thesaurusData[0].meta.syns[0].forEach(function(synonym) { %>
              <li class="list-group-item">
                <a href="/term/<%= synonym %>"><%= synonym %></a>
              </li>
              <% }); %> <% } else { %>
              <p>No synonyms found.</p>
              <% } %>
            </ul>
            <h2 class="text-primary">Antonyms</h2>
            <ul class="list-group mb-3">
              <% if (thesaurusData && thesaurusData[0].meta.ants &&
              thesaurusData[0].meta.ants[0].length > 0) { %> <%
              thesaurusData[0].meta.ants[0].forEach(function(antonym) { %>
              <li class="list-group-item">
                <a href="/term/<%= antonym %>"><%= antonym %></a>
              </li>
              <% }); %> <% } else { %>
              <p>No antonyms found.</p>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
