<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Definition Search | Find a Definition - Dictionaryyy</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header class="bg-primary text-white p-3 text-center">
      <h1 class="h2 mb-3">Dictionaryyy</h1>
      <nav>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/glossary">Glossary</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card bg-white rounded shadow p-4 text-center">
            <h2 class="text-muted">Search for a Definition</h2>
            <form method="POST" class="input-group my-3">
              <input
                type="text"
                name="word"
                class="form-control"
                placeholder="Enter a word"
              />
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </form>

            <!-- Recent Searches and Most Popular Searches -->
            <div class="row">
              <!-- Recent Searches -->
              <div class="col-md-6">
                <div class="card my-3">
                  <div class="card-header">
                    <h5 class="card-title">Recent Searches</h5>
                  </div>
                  <div class="card-body">
                    <% if (recentSearches.length > 0) { %>
                    <ul class="list-unstyled">
                      <% recentSearches.forEach(function(search) { %>
                      <li>
                        <a href="/term/<%= search %>"
                          ><%= search.charAt(0).toUpperCase() + search.slice(1)
                          %></a
                        >
                      </li>
                      <% }); %>
                    </ul>
                    <% } else { %>
                    <p>No recent searches found.</p>
                    <% } %>
                  </div>
                </div>
              </div>

              <!-- Most Popular Searches -->
              <div class="col-md-6">
                <div class="card my-3">
                  <div class="card-header">
                    <h5 class="card-title">Most Popular Searches</h5>
                  </div>
                  <div class="card-body">
                    <% if (popularSearches.length > 0) { %>
                    <ul class="list-unstyled">
                      <% popularSearches.forEach(function(search) { %> <% const
                      searchCount = searchCounts[search] || 0; %>
                      <li>
                        <a href="/term/<%= search %>">
                          <%= search.charAt(0).toUpperCase() + search.slice(1)
                          %>
                        </a>
                        <span class="badge badge-secondary ml-2"
                          ><%= searchCount %></span
                        >
                      </li>
                      <% }); %>
                    </ul>
                    <% } else { %>
                    <p>No popular searches found.</p>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>

            <% if (typeof definitions !== 'undefined' && definitions.length > 0)
            { %> <% definitions.forEach(function(def) { %>
            <div class="card my-3">
              <div class="card-header">
                <h5 class="card-title"><%= def.title %></h5>
              </div>
              <div class="card-body">
                <p class="card-text"><%= def.description %></p>
              </div>
            </div>
            <% }); %> <% } %>

            <div id="result"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
